@charset "UTF-8";
.hazardstatement td,
.hazardstatement th {
  padding: 0.5rem; }
.hazardstatement th {
  text-align: center;
  text-transform: uppercase; }
.hazardstatement--caution {
  background-color: #ffd100; }
.hazardstatement--danger {
  background-color: #c8102e;
  color: #fff; }
.hazardstatement--warning {
  background-color: #ff8200; }
.hazardstatement--attention, .hazardstatement--fastpath, .hazardstatement--important, .hazardstatement--note, .hazardstatement--notice, .hazardstatement--other, .hazardstatement--remember, .hazardstatement--restriction, .hazardstatement--tip {
  background-color: #0072ce;
  color: #fff;
  font-style: italic; }

.codeblock {
  font-family: monospace; }

.codeph {
  font-family: monospace; }

.kwd {
  font-weight: bold; }

.parmname {
  font-weight: bold; }

.var {
  font-style: italic; }

.filepath {
  font-family: monospace; }

.tasklabel {
  font-size: 100%;
  margin-bottom: 1em;
  margin-top: 1em; }

.screen {
  background-color: #ccc;
  border: outset;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 5px;
  white-space: pre; }

.wintitle {
  font-weight: bold; }

.numcharref {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.parameterentity {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.textentity {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.xmlatt {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.xmlelement {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.xmlnsname {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.xmlpi {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.frame-top {
  border-top: solid 1px;
  border-right: 0;
  border-bottom: 0;
  border-left: 0; }

.frame-bottom {
  border-top: 0;
  border-right: 0;
  border-bottom: solid 1px;
  border-left: 0; }

.frame-topbot {
  border-top: solid 1px;
  border-right: 0;
  border-bottom: solid 1px;
  border-left: 0; }

.frame-all {
  border: solid 1px; }

.frame-sides {
  border-top: 0;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: 0; }

.frame-none {
  border: 0; }

.scale-50 {
  font-size: 50%; }

.scale-60 {
  font-size: 60%; }

.scale-70 {
  font-size: 70%; }

.scale-80 {
  font-size: 80%; }

.scale-90 {
  font-size: 90%; }

.scale-100 {
  font-size: 100%; }

.scale-110 {
  font-size: 110%; }

.scale-120 {
  font-size: 120%; }

.scale-140 {
  font-size: 140%; }

.scale-160 {
  font-size: 160%; }

.scale-180 {
  font-size: 180%; }

.scale-200 {
  font-size: 200%; }

.expanse-page, .expanse-spread {
  width: 100%; }

.fig {
  /* Default of italics to set apart figure captions */
  /* Use @frame to create frames on figures */ }
  .figcap {
    font-style: italic; }
  .figdesc {
    font-style: normal; }
  .figborder {
    border-color: Silver;
    border-style: solid;
    border-width: 2px;
    margin-top: 1em;
    padding-left: 3px;
    padding-right: 3px; }
  .figsides {
    border-color: Silver;
    border-left: 2px solid;
    border-right: 2px solid;
    margin-top: 1em;
    padding-left: 3px;
    padding-right: 3px; }
  .figtop {
    border-color: Silver;
    border-top: 2px solid;
    margin-top: 1em; }
  .figbottom {
    border-bottom: 2px solid;
    border-color: Silver; }
  .figtopbot {
    border-bottom: 2px solid;
    border-color: Silver;
    border-top: 2px solid;
    margin-top: 1em; }

/* Align images based on @align on topic/image */
div.imageleft {
  text-align: left; }

div.imagecenter {
  text-align: center; }

div.imageright {
  text-align: right; }

div.imagejustify {
  text-align: justify; }

/* Set heading sizes, getting smaller for deeper nesting */
.topictitle1 {
  font-size: 1.34em;
  margin-bottom: 0.1em;
  margin-top: 0; }

.topictitle2 {
  font-size: 1.17em;
  margin-bottom: 0.45em;
  margin-top: 1pc; }

.topictitle3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.17em;
  margin-top: 1pc; }

.topictitle4 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 0.83em; }

.topictitle5 {
  font-size: 1.17em;
  font-weight: bold; }

.topictitle6 {
  font-size: 1.17em;
  font-style: italic; }

.sectiontitle {
  color: #000;
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1em; }

.section {
  margin-bottom: 1em;
  margin-top: 1em; }

.example {
  margin-bottom: 1em;
  margin-top: 1em; }

/* Most link groups are created with <div>. Ensure they have space before and after. */
.ullinks {
  list-style-type: none; }

.ulchildlink {
  margin-bottom: 1em;
  margin-top: 1em; }

.olchildlink {
  margin-bottom: 1em;
  margin-top: 1em; }

.linklist {
  margin-bottom: 1em; }

ul.linklist {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0; }

li.linklist {
  margin-top: 0;
  margin-bottom: 0; }

.linklistwithchild {
  margin-bottom: 1em;
  margin-left: 1.5em; }

.sublinklist {
  margin-bottom: 1em;
  margin-left: 1.5em; }

.relconcepts {
  margin-bottom: 1em;
  margin-top: 1em; }

.reltasks {
  margin-bottom: 1em;
  margin-top: 1em; }

.relref {
  margin-bottom: 1em;
  margin-top: 1em; }

.relinfo {
  margin-bottom: 1em;
  margin-top: 1em; }

.breadcrumb {
  font-size: smaller;
  margin-bottom: 1em; }

/* Simple lists do not get a bullet */
ul.simple {
  list-style-type: none; }

/* Default of bold for definition list terms */
.dlterm {
  font-weight: bold; }

/* Use CSS to expand lists with @compact="no" */
.dltermexpand {
  font-weight: bold;
  margin-top: 1em; }

*[compact="yes"] > li {
  margin-top: 0; }

*[compact="no"] > li {
  margin-top: 0.53em; }

.liexpand {
  margin-bottom: 1em;
  margin-top: 1em; }

.sliexpand {
  margin-bottom: 1em;
  margin-top: 1em; }

.dlexpand {
  margin-bottom: 1em;
  margin-top: 1em; }

.ddexpand {
  margin-bottom: 1em;
  margin-top: 1em; }

.stepexpand {
  margin-bottom: 1em;
  margin-top: 1em; }

.substepexpand {
  margin-bottom: 1em;
  margin-top: 1em; }

dt.prereq {
  margin-left: 20px; }

/* All note formats have the same default presentation */
.note {
  margin-bottom: 1em;
  margin-top: 1em; }
  .note .notetitle, .note .notelisttitle,
  .note .note__title {
    font-weight: bold; }

/* Various basic phrase styles */
.bold {
  font-weight: bold; }

.bolditalic {
  font-style: italic;
  font-weight: bold; }

.italic {
  font-style: italic; }

.underlined {
  text-decoration: underline; }

.uicontrol {
  font-weight: bold; }

.defkwd {
  font-weight: bold;
  text-decoration: underline; }

.shortcut {
  text-decoration: underline; }

.menucascade > abbr {
  text-decoration: none; }

table {
  border-collapse: collapse; }

table .desc {
  display: block;
  font-style: italic; }

.cellrowborder {
  border-bottom: solid 1px;
  border-left: 0;
  border-right: solid 1px;
  border-top: 0; }

.row-nocellborder {
  border-bottom: solid 1px;
  border-left: 0;
  border-top: 0; }

.cell-norowborder {
  border-left: 0;
  border-right: solid 1px;
  border-top: 0; }

.nocellnorowborder {
  border: 0; }

.firstcol {
  font-weight: bold; }

.table--pgwide-1 {
  width: 100%; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.align-char {
  text-align: char; }

.valign-top {
  vertical-align: top; }

.valign-bottom {
  vertical-align: bottom; }

.valign-middle {
  vertical-align: middle; }

.colsep-0 {
  border-right: 0; }

.colsep-1 {
  border-right: 1px solid; }

.rowsep-0 {
  border-bottom: 0; }

.rowsep-1 {
  border-bottom: 1px solid; }

.stentry {
  border-right: 1px solid;
  border-bottom: 1px solid; }

.stentry:last-child {
  border-right: 0; }

.strow:last-child .stentry {
  border-bottom: 0; }

/* Add space for top level topics */
.nested0 {
  margin-top: 1em; }

/* div with class=p is used for paragraphs that contain blocks, to keep the XHTML valid */
.p {
  margin-top: 1em; }

@page {
  size: A4;
  margin: 15mm 17.8mm;
  padding: 10mm 0;
  font-family: "Noto Sans";
  font-size: 11pt;
  line-height: 1.2;
  @top-left {
    content: "";
    font-size: 16pt;
    font-style: italic;
    font-family: "Noto Sans";
    width: 50%;
    margin-bottom: 0; }
  @top-right {
    content: "";
    width: 50%;
    height: 15mm; }
  @bottom-center {
    font-size: 10pt;
    font-weight: bold;
    content: counter(page) " (" counter(pages) ")\a "; }
  @bottom-left {
    font-size: 10pt;
    font-weight: bold;
    white-space: pre-line; } }
@page :first {
  @bottom-center {
    content: none; } }
.cover {
  page-break-after: always; }
  .cover img {
    width: 50%;
    margin: 0 0 12cm 0; }
  .cover h1 {
    font-family: Georgia, serif;
    font-weight: 100;
    font-size: 30pt;
    line-height: 1.1;
    margin: 0 -2.2cm 1cm -2.2cm;
    padding: 0 2.2cm;
    color: #000; }
  .cover h1::before {
    content: ""; }
  .cover .tenant-title {
    font-size: 16pt;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase; }
  .cover .author {
    display: none; }
  .cover .date {
    font-size: 12pt;
    line-height: 1; }

nav[role="toc"] {
  page-break-after: always;
  counter-reset: toc1counter; }
  nav[role="toc"] h1 {
    font-family: Georgia, serif; }
  nav[role="toc"] li {
    display: block; }
  nav[role="toc"] ol li::before {
    color: #9d9d9c; }
  nav[role="toc"] ul {
    page-break-before: avoid; }
  nav[role="toc"] > ul {
    padding-left: 14pt; }
    nav[role="toc"] > ul > li::before {
      margin-left: -14pt;
      content: counter(toc1counter);
      counter-increment: toc1counter; }
    nav[role="toc"] > ul > li {
      counter-reset: toc2counter; }
      nav[role="toc"] > ul > li > a {
        font-weight: bold; }
      nav[role="toc"] > ul > li > ul {
        padding-left: 28pt; }
        nav[role="toc"] > ul > li > ul > li::before {
          margin-left: -28pt;
          content: counter(toc1counter) "." counter(toc2counter);
          counter-increment: toc2counter; }
        nav[role="toc"] > ul > li > ul > li {
          counter-reset: toc3counter; }
          nav[role="toc"] > ul > li > ul > li > ul {
            padding-left: 35pt; }
            nav[role="toc"] > ul > li > ul > li > ul > li::before {
              margin-left: -35pt;
              content: counter(toc1counter) "." counter(toc2counter) "." counter(toc3counter);
              counter-increment: toc3counter; }
            nav[role="toc"] > ul > li > ul > li > ul > li {
              counter-reset: toc4counter; }
              nav[role="toc"] > ul > li > ul > li > ul > li > ul {
                padding-left: 49pt; }
                nav[role="toc"] > ul > li > ul > li > ul > li > ul > li::before {
                  margin-left: -49pt;
                  content: counter(toc1counter) "." counter(toc2counter) "." counter(toc3counter) "." counter(toc4counter);
                  counter-increment: toc4counter; }
                nav[role="toc"] > ul > li > ul > li > ul > li > ul > li {
                  counter-reset: toc5counter; }
                  nav[role="toc"] > ul > li > ul > li > ul > li > ul > li > ul {
                    display: none; }
  nav[role="toc"] a::after {
    content: target-counter(attr(href), page);
    float: right; }

nav[role="toc"]::before {
  display: block;
  color: #000;
  font-size: 13pt;
  margin-top: 12pt;
  margin-bottom: 6pt;
  page-break-before: always;
  font-weight: bold;
  content: "Contents"; }

body {
  font-family: "Noto Sans";
  font-size: 11pt;
  line-height: 1.428571429;
  counter-reset: h1counter; }

main[role="main"] h1 {
  color: #000;
  font-size: 13pt;
  margin-top: 12pt;
  margin-bottom: 6pt;
  page-break-before: always;
  margin-top: 0;
  counter-reset: h2counter; }
  main[role="main"] h1::before {
    padding-right: 0.7em;
    content: counter(h1counter);
    counter-increment: h1counter; }
main[role="main"] h2 {
  color: #000;
  font-size: 13pt;
  margin-top: 10pt;
  margin-bottom: 6pt;
  counter-reset: h3counter; }
  main[role="main"] h2::before {
    padding-right: 0.7em;
    content: counter(h1counter) "." counter(h2counter);
    counter-increment: h2counter; }
main[role="main"] h3 {
  color: #000;
  font-size: 13pt;
  margin-top: 10pt;
  margin-bottom: 6pt;
  counter-reset: h4counter; }
  main[role="main"] h3::before {
    padding-right: 0.7em;
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter);
    counter-increment: h3counter; }
main[role="main"] h4 {
  color: #000;
  font-size: 11pt;
  margin-top: 12pt;
  margin-bottom: 6pt;
  counter-reset: h5counter; }
  main[role="main"] h4::before {
    padding-right: 0.7em;
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter);
    counter-increment: h4counter; }
main[role="main"] h5 {
  font-size: 11pt; }
main[role="main"] h6 {
  font-size: 11pt; }

h2.sectiontitle {
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-size: 13pt; }

p {
  margin-top: 6pt;
  margin-bottom: 6pt; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #60afbf; }

img {
  max-width: 100%;
  max-height: 100%; }

table {
  border-collapse: collapse;
  margin-top: 6pt;
  margin-bottom: 6pt; }

th {
  font-weight: bold; }

td,
th {
  border-color: #575756;
  border-style: solid;
  border-width: 1pt;
  padding: 3pt; }

.note {
  margin-top: 6pt;
  margin-bottom: 6pt; }

.note__title,
.notetitle,
.note .notelisttitle,
.warningtitle,
.cautiontitle {
  font-weight: bold; }

.warning {
  border-top: solid 1pt black;
  border-bottom: solid 1pt black;
  padding: 6pt 0;
  margin: 10pt 0; }

.cautiontitle {
  border-top: solid 1pt black;
  margin-top: 6pt; }

.caution {
  border-bottom: solid 1pt black;
  margin-bottom: 6pt; }

ul,
ol {
  margin-top: 6pt;
  margin-bottom: 6pt; }

ul, ul.linklist {
  padding-left: 14pt;
  list-style: none; }
  ul > li::before, ul.linklist > li::before {
    content: "\002012";
    float: left;
    margin-left: -13pt; }

ol {
  padding-left: 20pt; }

.codeblock, codeph {
  font-family: Inconsolata; }

.codeblock {
  margin-left: 12pt; }

/*# sourceMappingURL=print.css.map */
