@charset "UTF-8";

$indent: 14pt;

nav[role="toc"] {
  page-break-after: always;
  counter-reset: toc1counter;

  h1 {
    font-family: Georgia, serif;
  }

  li {
    display: block;
  }

  ol li::before {
    color: #9d9d9c;
  }

  ul {
    page-break-before: avoid;
  }

  > ul {
    padding-left: $indent;

    > li::before {
      margin-left: -($indent);
      content: counter(toc1counter);
      counter-increment: toc1counter;
    }
    > li {
      counter-reset: toc2counter;

      > a {
        font-weight: bold;
      }

      > ul {
        padding-left: $indent * 2;

        > li::before {
          margin-left: -($indent) * 2;
          content: counter(toc1counter) "." counter(toc2counter);
          counter-increment: toc2counter;
        }

        > li {
          counter-reset: toc3counter;

          > ul {
            padding-left: $indent * 2.5;

            > li::before {
              margin-left: -($indent) * 2.5;
              content: counter(toc1counter) "." counter(toc2counter) "."
                counter(toc3counter);
              counter-increment: toc3counter;
            }

            > li {
              counter-reset: toc4counter;

              > ul {
                padding-left: $indent * 3.5;

                > li::before {
                  margin-left: -($indent) * 3.5;
                  content: counter(toc1counter) "." counter(toc2counter) "."
                    counter(toc3counter) "." counter(toc4counter);
                  counter-increment: toc4counter;
                }

                > li {
                  counter-reset: toc5counter;

                  > ul {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  a {
    &::after {
      content: target-counter(attr(href), page);
      float: right;
    }
  }
}
nav[role="toc"]::before {
  display: block;
  color: #000;
  font-size: 13pt;
  margin-top: 12pt;
  margin-bottom: 6pt;
  page-break-before: always;
  font-weight: bold;
  content: "Contents";
}
